


label {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  font-weight: bold;
  .note {
    color: $purple;
  }
  input {
    margin-top: 0;
    border-bottom-width: 0;
    font-size: 2rem;
    width: 100%;
    &:focus {
      border-bottom-width: 1px;
    }
  }
}

.Form {
  display: flex;
  margin-top: var(--s4);
}

.Form input {
  /*font-family: 'HeroNew-Light', Helvetica, Arial, sans-serif;*/
  /*font-size: 2.5rem;*/
  /*font-weight: 100;*/
  background-color: transparent;
  border: initial;
  border-bottom: 1px solid currentColor;
  outline: none;
  padding: 0.5rem 0;
  width: 100%;
}

.Form input + input {
  margin-top: 1rem;
}
