
/*
 * form styles
 */

.Form {
  display: flex;
  margin-top: var(--s5);
}

.Form input {
  background-color: transparent;
  border: initial;
  border-bottom: 1px solid var(--color-border);
  outline: none;
  padding: var(--fieldPadding);
  position: relative;
  width: 100%;
  z-index: 1;

  &:focus {
    /*border-bottom-width: 1px;*/
  }
}

.Form input.u-colorTextDark:active,
.Form input.u-colorTextDark:focus {
  border-color: currentColor;
}

.Form input + input,
.Form label + label {
  margin-top: 1.25rem;
}

.Form label {
  color: var(--color-text-dark);
  display: flex;
  flex-direction: column;
  position: relative;
}

.Form textarea {
  border: initial;
  border-bottom: 1px solid var(--color-border);
  padding: var(--fieldPadding);
  width: 100%;
}

/*
 * Elements
 */

.PlaceholderWrapper {
  position: relative;
}

.Placeholder {
  left: 0;
  position: absolute;
  right: 0;
  top: 0.1rem;
}

.Form label input:active ~ .Placeholder,
.Form label input:focus ~ .Placeholder {
  display: none;
}
