/*
 * dark
 */

.theme-dark .Navbar,
.theme-dark .Navbar-logo,
.theme-dark .Headline {
  color: var(--color-text);
}

.theme-dark .Headline--dark {
  color: var(--color-paper);
}

.theme-dark .Form input {
  color: white;
}
